.btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.btn-container button, button {
    width: 250px;
    height: 50px;
    border: 0;
    border-radius: 4px;
    background-color: #ff8400;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.btn-container button:hover {
    filter: brightness(1.2);
}