* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: #000;
}

.nav-container {
    height: 80px;
    background-color: #ff8400;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.nav-main {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-main h1 {
    color: #fff;
    font-size: 36px;
}

.contact-link {
    color: #fff;
    cursor: pointer;
}

.form-container {
    padding: 40px 20px;
    width: 100%;
}

.card-form {
    background-color: #333;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
    padding: 20px;
}

.form-control {
    margin-bottom: 20px;
}

.form-control label {
    display: none;
}

.error-message {
    margin-top: 5px;
    color: #Faa;
}

.form-input {
    height: 50px;
    width: 100%;
    border-radius: 4px;
    padding: 0 20px;
    font-size: 14px;
    border: 0;
}

.form-input::placeholder {
    color: #c9c9c9;
}

.form-input:disabled {
    background-color: #ddd;
}

.btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.btn-container button {
    width: 250px;
    height: 50px;
    border: 0;
    border-radius: 4px;
    background-color: #ff8400;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
}

.btn-container button:hover {
    filter: brightness(1.2);
}

.list-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

.card-list-item {
    width: 100%;
    background-color: #333;
    color: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 20px;

}

.card-list-item h3 {
    color: #ff8400;
    font-size: 18px;
}

.address-line {
    color: #fff;
    font-size: 14px;
}

.cep-line {
    color: #8f8f8f;
    font-size: 12px;
}